<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Front Comercial Falabella</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="@Url.Content("~/Content/Site1.css")" rel="stylesheet" />

</head>
<body>
    <div>


        <ul id="dropdownProfile" class="dropdown-content">
            <li><a href="#">Información</a></li>
            <li class="divider"></li>
            <li><a href="#">Cerrar sesión</a></li>
        </ul>

        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo" style="padding-left: 10px;">SISGESA</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="dropdownProfile">rbolanoherrera<i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
    <div id="body" class="container">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer class="container section"
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems/*, options*/);
            });

            //$('.sidenav').sidenav();

            //$(".dropdown-trigger").dropdown();

            console.log('ready');
        });

    </script>
</body>
</html>
